/* Template Space - Start
================================================== */
.section_space_lg {
	padding-top: 120px;
	padding-bottom: 120px;
}
.section_space_md {
	padding-top: 100px;
	padding-bottom: 100px;
}
.section_space_heading {
	padding-top: 104px;
	padding-bottom: 120px;
}
/* Template Space - End
================================================== */