@mixin dots($count) {
  $text-shadow: ();
  @for $i from 0 through $count {
    $text-shadow: $text-shadow,
                 (-.5+(random()) * 3) + em
                 (-.5+(random()) * 3) + em
                 7px
                 hsla(random() * 360, 100%, 50%, .9);
  }
  text-shadow: $text-shadow;
}

.eventDetailsBackground {
  font: 5vmin/1.3 Serif;
  overflow: hidden;
  background: rgb(27, 17, 51);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1; // Places it behind the content
  color: transparent;
  pointer-events: none; // Allows click events to pass through
  
  &::before, &::after {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 3em;
    height: 3em;
    content: '.';
    mix-blend-mode: screen;
    animation: move infinite ease-in-out alternate;
  }

  &::before {
    @include dots(40);
    animation-duration: 44s;
    animation-delay: -27s;
  }

  &::after {
    @include dots(40);
    animation-duration: 43s;
    animation-delay: -32s;
  }

  @keyframes move {
    from {
      transform: rotate(0deg) scale(12) translateX(-20px);
    }
    to {
      transform: rotate(360deg) scale(18) translateX(20px);
    }
  }
}
