.explore {
    margin: 120px 0;
}

.featured_events{
    @media (max-width: 932px) {
        display: none;
    }
}
  
.filters {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-top: 20px;
}

.filter_events_text {
    font-size: 28px;
    color: #fff;
    cursor: pointer;
    text-decoration: underline;
    font-weight: 600;
    /* @media (max-width: 932px) {
        font-size: 20px;
    } */
}

.filter_events_text:hover {
    color: #ccf; /* Highlight for hover state */
}

.filter_text {
    font-size: 18px;
    color: #fff;
    margin: 0 15px;
}

.filter_school_text {
    font-size: 28px;
    color: #fff;
    font-weight: 600;
}

.eventCardContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 5px 20px;
}

.pagination {
    text-align: center;
    margin-top: 20px;
}
  
.dot, .active {
    height: 15px;
    width: 15px;
    margin: 0 6px;
    background-color: #111;
    border-radius: 50%;
    border: 1px solid #fff;
    display: inline-block;
    cursor: pointer;
}
  
/* Class for the active dot */
.active {
    background-color: #fff;
}

.create {
    position: fixed;
    bottom: 50px;
    right: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    cursor: pointer;
}

.create:hover {
    width: 85px;
    height: 85px;
}

.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdownToggle {
    cursor: pointer;
}
  
.dropdownMenu {
    position: absolute;
    background-color: #333; /* Same as button for a consistent look */
    color: white;
    min-width: 160px; /* Adjust as needed */
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
    list-style: none; /* Removes default list styling */
    padding-left: 0; /* Removes default padding */
    margin: 0; /* Removes default margin */
    border-radius: 5px; /* Optional: for rounded corners */
    overflow: hidden; /* Ensures the border radius applies to children */
}
  
li.dropdownItem {
    color: #fff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    cursor: pointer;
    font-size: 18px;
}
  
li.dropdownItem:hover {
    background-color: #555; /* Highlight for hover state */
    color: #ccf;
}
  